<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="bg-dark">
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <div class="card bg-dark border-secondary">
        <div class="card-header bg-dark border-secondary  text-white" th:text="${title}"></div>
        <div class="card-body">


            <h4 class="card-title">
                <a th:href="@{/form}" class="btn btn-info btn-xs" data-placement="right" title="New">New</a>
            </h4>
            <table class="table table-striped text-white">

                <thead>

                <tr>

                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Create date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>

                </tr>


                </thead>

                <tbody>

                <tr scope="col" th:each="customer: ${customers}">

                    <td><a class="btn btn-secondary btn-xs" data-placement="right" title="Details" th:href="@{/view/} + ${customer.id}" th:text="${customer.id}"></a></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.createAt}"></td>
                    <td><a class="btn btn-info btn-xs" th:href="@{/form/} + ${customer.id}" th:text="'Edit'"
                           data-placement="right" title="Edit"></a></td>
                    <td><a class="btn btn-secondary  btn-xs" th:href="@{/delete/} + ${customer.id}" th:text="'Delete'"
                           onclick="return confirm('Are you sure you want to delete');" data-placement="right"
                           title="Delete"></a></td>


                </tr>

                </tbody>


            </table>
            <nav th:replace="page-nav :: page"></nav>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>