<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="bg-dark">
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <h4 class="card-title">
        <a th:href="@{/all}" class="btn btn-secondary btn-xs" data-placement="right" title="Back">Back</a>
    </h4>
    <div class="card mb-3 bg-dark border-secondary text-white">

        <div class="row no-gutters">
            <div class="col-md-4">
                <img th:if="${#strings.length(customer.photo) > 0}" class="card-img border-secondary"
                     th:src="@{'/uploads/' + ${customer.photo}}"
                     th:alt="${customer.photo}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title border-secondary bg-dark " th:text="${title}"></h5>
                    <p class="card-text bg-dark border-secondary" th:text="${customer.name}"><small
                            class="text-muted"></small></p>
                    <p class="card-text bg-dark border-secondary" th:text="${customer.lastName}"><small
                            class="text-muted"></small></p>
                    <p class="card-text bg-dark border-secondary" th:text="${customer.email}"><small
                            class="text-muted"></small></p>
                    <p class="card-text bg-dark border-secondary" th:text="${customer.createAt}"><small
                            class="text-muted"></small></p>
                </div>


            </div>
        </div>
    </div>


    <div th:if="${#lists.isEmpty(customer.invoices)}" th:text="'There are no Invoice for the customer ' + ${customer.name} +' ' + ${customer.lastName}" class="alert alert-info my-4"></div>
    <div th:if="${not #lists.isEmpty(customer.invoices)}" class="card text-center bg-dark text-white border-secondary">
        <div  class="card-header border-secondary">
            <h5  class="card-title border-secondary text-white" th:text="'List Invoices '"></h5>
        </div>
        <div class="card-body">

            <table class="table table-striped text-white">

                <thead >

                <tr>

                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total</th>

                </tr>

                </thead>
                <tbody>

                <tr scope="col" th:each="invoice: ${customer.invoices}">

                    <td th:text="${invoice.id}"></td>
                    <td th:text="${invoice.description}"></td>
                    <td th:text="${invoice.createAt}"></td>
                    <td th:text="${invoice.totalInvoice}"></td>
                </tr>

                </tbody>


            </table>
        </div>

    </div>




</div>
<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>