<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="bg-dark">
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <a th:href="@{/all}" class="btn btn-secondary btn-xs" data-placement="right" title="Back">Back</a>

    <div class="card bg-dark border-secondary text-white">
        <div class="card-header border-secondary bg-dark"  th:text="${title}"></div>
        <div class="card-body">

        <img th:if="${#strings.length(customer.photo) > 0}" class="img-thumbnail rounded float-left"
             style="max-width: 25%;" th:src="@{'/uploads/' + ${customer.photo}}"
             th:alt="${customer.photo}">


         <ul class="list-group ">

             <li class="list-group-item bg-info border-secondary" th:text="${customer.name}"></li>
             <li class="list-group-item bg-dark border-secondary" th:text="${customer.lastName}"></li>
             <li class="list-group-item bg-dark border-secondary" th:text="${customer.email}"></li>
             <li class="list-group-item bg-dark border-secondary" th:text="${customer.createAt}"></li>

         </ul>


        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>